<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/dc.css">
    <script type="text/javascript" src="static/js/pace.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/d3.min.js"></script>
    <script type="text/javascript" src="static/js/crossfilter.v1.min.js"></script>
    <script type="text/javascript" src="static/js/dc.js"></script>
    <script type="text/javascript" src="static/data/index_data.js"></script>
    <script type="text/javascript" src="static/data/adm0.js"></script>
    <script type="text/javascript" src="static/data/adm4.js"></script>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Raleway:400,200">
    <title>None</title>
</head>
<style>
</style>

<body>
    <div class="top-bar"></div>
    <div class="col-xs-1 left-col-spacing"></div>
    <div class="col-xs-10">
            <div class="title-container">
                <h2 class="title">ROLL TIME</h2>
            </div>
        <div class="col-xs-10">
            <!-- navigation bar -->
        </div>
    </div>
    <div class="col-xs-1 left-col-spacing-plus"></div>
</body>
